@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.header-list ul {
    display: flex;
    gap: 18px;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Section-One */
.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 96px;
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 450px;
}

.right-side {
    background-color: rgb(119, 119, 119);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 225px;
}

.left-side h1 {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
}

.left-side p {
    font-size: 18px;
    margin: 0;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
}

.left-side button {
    border: none;
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    padding: 8px 32px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
}

/* Section-Two */

.section-two {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.container-one, .container-two, .container-three, .container-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-one, .img-two, .img-three, .img-four {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.content p {
    margin: 10px auto;
    width: 200px;
    text-align: center;
}